@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/*Elements*/

a:hover{
    text-decoration: None;
    font-weight: bold;
    font-style: italic;
    background-color:#34793c;
}

a:link {
    font-family: Reditt_Sans, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: White;
    background-color:#465775;
}



a:visited {
    font-family: Reditt_Sans, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

body{
    margin: 0px;
}

caption {
    caption-side: bottom;
    padding: 15px;
}

footer{
    background-color:#5B6C5D;
    padding: 15px;
    color: white;
    font-size: small;
}

h1, h2 {
    font-family: Courgette, 'Times New Roman', Times, serif;
    text-align: center;
}

img{
    max-width: 300px;
    max-height: 200px;
}

input, label {
    display: block;
    padding-bottom: 5px;
	border-radius: 30px;
	padding: 10px;
}

li {
    font-family: Reditt_Sans, sans-serif;
}

p {
    font-family: Reddit_Sans, sans-serif;
    text-align: center;
}

section {
    max-width: 500px;
    max-height: 600px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    padding: 5px;
}

table{
    margin: 25px;
    padding: 15px;
    max-height: 40%;
	max-width: 50%;
    background-color:#5B6C5D;
    color: white;
}

td, th {
    padding: .5em;
}

tr:nth-child(even) {
    background-color: #56E39F;
    color: black
}

tr:nth-child(odd) {
    background-color: #19391c;
    color: white;
}

/*Classes*/

.active{
    background-color:#308abe;
    color:black;
}

.active::before {
	background-color: #465775;
}



.basic{
    background-color: antiquewhite;
    color:black;
}

.basic-dark{
    background-color: rgb(180, 169, 154);
    color:black;
}

.bg-black {
    background-color:#5B6C5D;
    color: white;
}

.bronze{
    background-color: rgb(232, 141, 76);
    color: black;
}

.bronze-dark{
    background-color: rgb(210, 128, 68);
    color: black;
}

.callToAction{
    display: flex;
    border-radius: 30px;
    border: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px;
    width: 90px;
    background-color: #56E39F;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cards{
    display:flex;
    margin: 25px;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 15px;
}

.companyLogo {
    height: 75px;
	max-width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.companyPortfolio {
    padding: 15px;
    margin: 25px;
    background-color: #56E39F;
}

.companySite {
    padding: 15px;
}

.dial{
    padding-top: 15px;
}

.discover{
    display:flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
}

.events{
    margin: 25px;
    padding: 15px;
    width: 75%;
    background-color:#5B6C5D;
    color: white;
}

.form{
    margin: 25px;
    padding: 15px;
    width: 75%;
    max-width: 500px;
    background-color:#5B6C5D;
    color: white;
    border-radius: 20px;
}

.grid{
    display: flex;
    margin: 25px;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 15px;
}

.gridButton {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.gold{
    background-color: rgb(252, 215, 83);
    color: black;
}

.gold-dark{
    background-color: rgb(216, 185, 71);
    color: black;
}

.heroDescription{
    font-weight: bold;
    margin: 10px;
}

.heroImage{
    background-image: linear-gradient(rgba(69, 121, 142, 0.5), rgba(69, 121, 142, 0.5)), url(https://studyabroad.olemiss.edu/_customtags/ct_Image.cfm?Image_ID=49933);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}

.heroTitle{
    margin: 15px;
}

.hidden{
    display: none;
}

.inputTitle{
    padding: 2px;
	font-weight: bolder;
    text-align: left;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

.no-border{
    border: none;
}

.open a {
	display: block;
}

.panel {
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 50px;
    border: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5B6C5D;
    color: white;
}

.show{
    display: block;
}

.silver{
    background-color: rgb(221, 204, 192);
    color: black;
}

.silver-dark{
    background-color: rgb(166, 152, 142);
    color: black;
}

.spotlights{
    margin: 25px;
    padding: 15px;
    width: 75%;
    background-color:#5B6C5D;
    color: white;
}

.weather{
    margin: 25px;
    padding: 15px;
    width: 75%;
    background-color:#5B6C5D;
    color: white;
}

/*id*/

#banner{
    flex-direction: row;
    align-self: center;
}

#banner p{
    margin-left: auto;
    margin-right: 15px;
}

#banner button{
    margin-top: 10px;
    margin-right: auto;
    height: 30px;
}

#description{
    margin: left;
    width: 50%;
    height: 30%;
}

#events{
    list-style-type: none;
    text-align: left;
}

#feedImage{
    max-width: 300px;
    width: 100%
}

#menu{
position: fixed;
	top: 5px;
	right: 5px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}