@media screen and (min-width: 32em) {
    

	
	/*classes*/
	
	.cards{
        flex-direction: row;  
    }

	

	.container:hover .feedImage {
		opacity: 0.3;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%); 
	}

	.container:hover .middle{
		opacity: 1;
	}

	.discover{
		display: grid;
    	grid-template-columns: 1fr 1fr;
		margin-left: auto;
    	margin-right: auto;
	}

	.feedImage {
		opacity: 1;
		transition: .5s ease;
		backface-visibility: hidden;
	}

	.middle {
		transition: .5s ease;
		opacity: 0;
		transform: translate(0%, -400%);
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.table{
		max-height: 350px;
		max-width: 500px;
	}

    /*id*/

	#feed{
		align-items: right;
	}

	#feedImage{
		max-width: 700px;
	}

    #menu {
		display: none;
	}

	#rearrange{
		transform: translate(0%, -25%);
	}

	#sidebar{
		align-items: left;
	}
}