@media screen and (min-width: 32em) {
    .cards{
        flex-direction: row;  
    }

	.discover{
		display: grid;
    	grid-template-columns: 1fr 1fr;
		margin-left: auto;
    	margin-right: auto;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    /*id*/

	#feed{
		align-items: right;
	}

	#feedImage{
		max-width: 700px;
	}

    #menu {
		display: none;
	}

	#sidebar{
		align-items: left;
	}
}