/*main*/

a{
    grid-template-columns: 1fr ;
    text-decoration: none;
}

article{
    background-color: aquamarine;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

div{
    flex-direction: column;
    margin: 1em;
}

header{
    background-color: #465775;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}

h1{
    color: blue;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
}

h2{
    background-color: #56E39F;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 0px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 30px 60px;
    font-size: 20px;
    text-align: center;
    /*width: 100%;*/
}

main{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #59C9A5;
}

nav{
    background-color: #59C9A5;
    display: flex;
    flex-direction: column;
    /*height: 100%;
    align-items: center;
    width: 100%;*/
}

p{
    padding-left: 10px;
}

section {
    display: inline;
}

ul{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}



/* class */

.card{
    background-color: #5B6C5D;
    grid-column: 1;
}

.home{
    background-color: #EF6F6C;
    color: white;
}

.homeLinks{
    background-color: #EB4A47;
    color: white;
}

.multicard{
    display: grid;
    grid-template-columns: 1fr;
}

.assignmentLinks {
    list-style-type: none;
    display:list-item;
}


/* id */

#card1, #card2 {
    margin: 5px;
    background-color: antiquewhite;
}