@media screen and (min-width: 32em) {
    

    h1{
        grid-row: 1;
    }

    li{
        width: 100%;
    }
    
    nav{
        flex-direction: row;
        margin: 0px;
        padding: 0px;
    }

    ul{
        flex-direction: row;
        align-items: center;
        width: 100%
    }

    .multicard{
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
}