@media screen and (min-width: 32em) {
    
    .assignmentLinks{
        flex-direction: column;
        align-items: center;
    }
    
    .cards{
        flex-direction: row;  
    }

    h1{
        grid-row: 1;
    }

    li{
        width: 100%;
    }
    

    ul{
        align-items: center;
        width: 100%
    }

    .multicard{
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }

    .navigation {
		flex-direction: row;
        margin: 0px;
        padding: 0px;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    /*ID's*/

    #menu {
		display: none;
	}

}